container_commands:
    01_migrate:
        command: "source /opt/python/run/venv/bin/activate && python foodbudgetbackend/manage.py migrate --noinput"
        leader_only: true

    02_createsuperuser:
        command: "source /opt/python/run/venv/bin/activate && python foodbudgetbackend/manage.py createsuperuser"
        leader_only: true
    
    03_collectstatic:
        command: "source /opt/python/run/venv/bin/activate && python foodbudgetbackend/manage.py collectstatic --noinput"

